[run]
branch = True
source =
    distro_tracker
    django_email_accounts
omit =
    */tests/*
    */tests.py
    distro_tracker/project/*
    distro_tracker/vendor/skeleton/rules.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

ignore_errors = True

[html]
directory = coverage.html
