{% extends "core/base.html" %}
{% load staticfiles %}

{% block title %}{{ block.super }} - {{ package }}{% endblock %}

{% block extra-head %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url 'pts-package-rss-news-feed' package.name %}">
{% endblock %}

{% block page-header %}
    <header class="page-header" id="package-page-header">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3 col col-lg-3 text-center">
                    {% include 'core/logo.html' %}
                </div>
                <div class="span6 col col-lg-6 text-center">
                    <h1>{{ package }}</h1>
                </div>
                <div class="span3 col col-lg-3">
                    {% include 'core/package-search-form.html' %}
                    {% include 'accounts/user-widget.html' with logout_redirect=request.path %}
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span3 col col-lg-3" id="pts-package-left">
            {% for panel in panels.left %}
            {% if panel.template_name %}
                {% include panel.template_name %}
            {% else %}
                {{ panel.html_output }}
            {% endif %}
            {% endfor %}
        </div>
        <div class="span6 col col-lg-6" id="pts-package-center">
            {% for panel in panels.center %}
            {% if panel.template_name %}
                {% include panel.template_name %}
            {% else %}
                {{ panel.html_output }}
            {% endif %}
            {% endfor %}
        </div>
        <div class="span3 col col-lg-3" id="pts-package-right">
            {% for panel in panels.right %}
            {% if panel.template_name %}
                {% include panel.template_name %}
            {% else %}
                {{ panel.html_output }}
            {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
