{% extends "core/base.html" %}

{% block title %}{{ block.super }} - {{ package }}{% endblock %}

{% block content %}
        <h1>{{ package }}</h1>
        {% include 'core/package-search-form.html' %}
{% endblock %}

{% block footer %}
            <div id="footer-title">{% if PTS_VENDOR_HOMEPAGE_URL %}<a href="{{ PTS_VENDOR_HOMEPAGE_URL }}">{{ PTS_VENDOR_NAME }}</a>{% else %}{{ PTS_VENDOR_NAME }}{% endif %} Package Tracking System</div>
            <div id="footer-copyright">
                <a href="http://deb.li/ptsauthors">Copyright</a> 2013 The Debian Package Tracking System Developers</div>
            <div id="footer-repository">
                <a href="http://anonscm.debian.org/gitweb/?p=qa/pts.git">Git Repository</a>
            </div>
{% endblock %}
