{% extends "core/base.html" %}
{% load staticfiles %}

{% block title %}{{ block.super }} - {{ package }}{% endblock %}

{% block extra-head %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url 'pts-package-rss-news-feed' package.name %}">
{% endblock %}

{% block page-header %}
    <header class="page-header" id="package-page-header">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3 col col-lg-3 text-center">
                    {% include 'core/logo.html' %}
                </div>
                <div class="span6 col col-lg-6 text-center">
                    <h1>{{ package }}</h1>
                </div>
                <div class="span3 col col-lg-3">
                    {% include 'core/package-search-form.html' %}
                    {% include 'accounts/user-widget.html' with logout_redirect=request.path %}

                {% if request.user.is_authenticated %}
                    <div class="btn-group" style="margin-left: 10px;{% if is_subscribed %}display: none;{% endif %}">
                        {% if request.user.emails.all|length == 1 %}
                        <form class="subscription-form" action="{% url 'pts-api-accounts-subscribe' %}" method="POST">{% csrf_token %}
                            <input type="hidden" name="package" value="{{ package }}">
                            <input type="hidden" name="email" value="{{ request.user.emails.all.0 }}">
                        {% endif %}
                      <button class="btn" id='subscribe-button' data-package="{{ package }}" data-get-emails="{% url 'pts-api-accounts-emails' %}" data-url="{% url 'pts-api-accounts-subscribe' %}">Subscribe</button></a>

                        {% if request.user.emails.all|length == 1 %}
                          </form>
                        {% endif %}
                    </div>

                    <div class="btn-group" style="margin-left: 10px;{% if not is_subscribed %}display: none;{% endif %}">
                      <form class="subscription-form" action="{% url 'pts-api-accounts-unsubscribe' %}" method="POST">{% csrf_token %}
                          <input type="hidden" name="package" value="{{ package }}">
                          <button class="btn btn-danger" id='unsubscribe-button' data-url="{% url 'pts-api-accounts-unsubscribe' %}" data-package="{{ package }}">Unsubscribe</button>
                      </form>
                      <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Subscription details</a></li>
                      </ul>
                    </div>
                {% else %}
                    {# When the user is not authenticated, the subscribe button leads to the log in page instead #}
                    <div class="btn-group" id='subscribe-not-logged-in-button' style="margin-left: 10px;{% if is_subscribed %}display: none;{% endif %}">
                      <a href="{% url 'pts-accounts-login' %}"><button class="btn">Subscribe</button></a>
                    </div>
                {% endif %}

                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
{# A hidden modal which would display a list of user emails allowing him to choose which one to subscribe to the package #}
{% spaceless %}
<div id="choose-email-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Choose email to subscribe with</h3>
  </div>
  <div class="modal-body">
    {# The email selection markup goes here #}
  </div>
  <div class="modal-footer">
    <button class="btn" id="cancel-choose-email" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>
{% endspaceless %}

    <div class="row-fluid">
        <div class="span3 col col-lg-3" id="pts-package-left">
            {% for panel in panels.left %}
            {% if panel.template_name %}
                {% include panel.template_name %}
            {% else %}
                {{ panel.html_output }}
            {% endif %}
            {% endfor %}
        </div>
        <div class="span6 col col-lg-6" id="pts-package-center">
            {% for panel in panels.center %}
            {% if panel.template_name %}
                {% include panel.template_name %}
            {% else %}
                {{ panel.html_output }}
            {% endif %}
            {% endfor %}
        </div>
        <div class="span3 col col-lg-3" id="pts-package-right">
            {% for panel in panels.right %}
            {% if panel.template_name %}
                {% include panel.template_name %}
            {% else %}
                {{ panel.html_output }}
            {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block extra-js %}{% verbatim %}
<script id="choose-email-template" type="text/x-handlebars-template">
{{#each emails}}
<button class="btn subscribe-select-email" id="choose-email-{{@index}}" data-email="{{this}}" data-package="{{../package_name}}">{{this}}</button>
{{/each}}
</script>
{% endverbatim %}{% endblock %}