{% extends "core/team.html" %}
{% load staticfiles %}
{% with team=object %}

{% block content %}
<div class="text-center">
<h1>Are you sure you want to delete this team?</h1>
<div>This action is final and permanent. Once the team is deleted it will not be possible to restore it.</div>
<form action="{% url 'pts-team-delete' team.pk %}" method="POST" id="confirm-team-delete-form">{% csrf_token %}
    <a href="{{ team.get_absolute_url }}"><button type="button" class="btn">Cancel</button></a>
    <button class="btn btn-danger">Delete!</button>
</form>
</div>
{% endblock %}

{% endwith %}