{% extends "core/base.html" %}
{% load staticfiles %}
{% with team=object %}

{% block title %}{{ block.super }} - {{ team }}{% endblock %}

{% block page-header %}
    <header class="page-header" id="package-page-header">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3 col col-lg-3 text-center">
                    {% include 'core/logo.html' %}
                </div>
                <div class="span6 col col-lg-6 text-center">
                    <h1>{{ team }}</h1>
                </div>
                <div class="span3 col col-lg-3">
                    {% include 'core/package-search-form.html' %}
                    {% include 'accounts/user-widget.html' with logout_redirect=request.path %}

                {% if request.user.is_authenticated %}
                  {% if request.user == team.owner %}
                  <form class="unstyled-form" action="{% url 'pts-team-delete' team.pk %}" method="GET">
                  <button class="btn btn-danger" id="delete-team-button">Delete</button>
                  </form>
                  <a href="{% url 'pts-team-update' team.pk %}"><button class="btn" id="update-team-button">Update</button></a>
                  {% endif %}
                {% endif %}

                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
{# A hidden modal which asks for confirmation before deleting the team. #}
{% spaceless %}
<div id="confirm-team-delete-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Are you sure you want to delete the team?</h3>
  </div>
  <div class="modal-body">
    <div>This action is final and permanent. Once the team is deleted it will not be possible to restore it.</div>
  </div>
  <div class="modal-footer">
    <button class="btn" id="team-delete-cancel-button" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <form class="unstyled-form" action="{% url 'pts-team-delete' team.pk %}" method="POST">{% csrf_token %}
    <button class="btn btn-danger" id='confirm-team-delete-button' aria-hidden="true">Delete</button>
    </form>
  </div>
</div>
{% endspaceless %}


<div class="row-fluid">
    <div class="span3 col col-lg-3" id="pts-package-left">
        {% if team.public or user_member_of_team %}{# Should display? #}
        {% if team.packages.all %}{# Anything to display? #}
        <div class="panel">
            <div class="panel-heading">team packages</div>
            <div class="panel-body">
                <ul class="list-group list-group-flush">
                    <div class="scrollable">
                    {% for package in team.packages.all %}
                    {% if package.get_absolute_url %}
                    <li class="list-group-item"><a href="{% url 'pts-package-page' package %}">{{ package }}</a></li>
                    {% else %}
                    <li class="list-group-item">{{ package }}</li>
                    {% endif %}
                    {% endfor %}
                    </div>
                </ul>
            </div>
        </div>
        {% endif %}
        {% endif %}
    </div>
    <div class="span6 col col-lg-6" id="pts-package-center">
        <div class="panel">
            <div class="panel-heading">team info</div>
            <div class="panel-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="list-item-key"><b>name:</b></div>
                        <div class="list-item-value">{{ team.name }}</div>
                        <div class="clear"></div>
                    </li>
                    {% if team.maintainer_email %}
                    <li class="list-group-item">
                        <div class="list-item-key"><b>maintainer email:</b></div>
                        <div class="list-item-value">{{ team.maintainer_email }}</div>
                        <div class="clear"></div>
                    </li>
                    {% endif %}
                    {% if team.url %}
                    <li class="list-group-item">
                        <div class="list-item-key"><b>url:</b></div>
                        <div class="list-item-value"><a href="{{ team.url }}">{{ team.url }}</a></div>
                        <div class="clear"></div>
                    </li>
                    {% endif %}
                    {% if team.description %}
                    <li class="list-group-item">
                        <div class="list-item-key"><b>description:</b></div>
                        <div class="list-item-value">{{ team.description }}</div>
                        <div class="clear"></div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="span3 col col-lg-3" id="pts-package-right">
        {% if user_member_of_team %}
        <div class="panel">
            <div class="panel-heading">add packages</div>
            <div class="panel-body" style="padding-top: 10px;">
                <form class="form-search unstyled-form" id="add-team-package-form" action="{% url 'pts-team-add-package' team.pk %}" method="POST">{% csrf_token %}
                    <input type="text" id="id_package_name" name="package" class='package-search-input' placeholder="Choose package...">
                    <button class="btn">Add</button>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}

{% endwith %}