{% extends 'core/panels/panel.html' %}

{% block panel-header %}
<div class="row-fluid">
<div class="pull-left">
    <span>{{ panel.title }} <a href="{% url 'dtracker-package-news' package.name %}"><i class='icon-share'></i></a></span>
</div>
<div class="pull-right">
    <a title="rss feed" href="{% url 'dtracker-package-rss-news-feed' package.name %}">
        <i class="icon-bullhorn"></i>
    </a>
</div>
</div>
{% endblock %}

{% block panel-body %}
{% with news=panel.context.news %}
    {% include "core/_news_pagination.html" %}
{% endwith %}
{% if panel.context.has_more %}
<div class="pagination">Page <a href="{% url 'dtracker-package-news' package.name %}?page=2">2</a></div>
{% endif %}
{% endblock %}
