{% extends 'core/panels/panel.html' %}

{% block panel-header %}
<div class="row">
    <div class="col-xs-12">
	<a href="{% url 'dtracker-package-news' package.name %}">{{ panel.title }}</a>
	<div class="pull-xs-right">
	    <a title="rss feed" href="{% url 'dtracker-package-rss-news-feed' package.name %}">
	    <span class="octicon octicon-rss"></span>
	    </a>
	</div>
    </div>
</div>
{% endblock %}

{% block panel-body %}
{% with news=panel.context.news %}
    {% include "core/news_list.html" %}
{% endwith %}
{% if panel.context.has_more %}
<div class="pagination">Page <a href="{% url 'dtracker-package-news' package.name %}?page=2">2</a></div>
{% endif %}
{% endblock %}
