{% extends 'core/panels/panel.html' %}

{% block panel-header %}
<div class="row-fluid">
<div class="pull-left">
    <span>{{ panel.title }}</span>
</div>
<div class="pull-right">
    <a title="rss feed" href="{% url 'dtracker-package-rss-news-feed' package.name %}">
        <i class="icon-bullhorn"></i>
    </a>
</div>
</div>
{% endblock %}

{% block panel-body %}
<ul class="list-group list-group-flush">
    <div class="scrollable">
    {% for news_item in panel.context.news %}
    <li class="list-group-item">
        [<span class="news-date">{{ news_item.datetime_created|date:"Y-m-d" }}</span>]
        <a href="{% url 'dtracker-news-page' news_item.pk %}">
            <span class="news-title">{{ news_item.title }}</span>
        </a>
        {% if news_item.created_by %}(<span class="news-creator">{{ news_item.created_by }}</span>){% endif %}
        {% with signers=news_item.signed_by.all %}
        {% if signers and signers.0.name != news_item.created_by %}
        {% spaceless %}
            <span>(signed by: </span>
            {% for signer in signers %}
            <span class="news-signer">{{ signer.name }}</span>
            {% if not forloop.last %}<span>, </span>{% endif %}
            {% endfor %}
            <span>)</span>
        {% endspaceless %}
        {% endif %}
        {% endwith %}
    </li>
    {% endfor %}
    </div>
</ul>
{% endblock %}
