{% extends 'core/panels/panel.html' %}

{% block panel-header %}
<div class="row-fluid">
<div class="pull-left">
    <span>{{ panel.title }}</span>
    {% if panel.context.external_resources %}
    {% for external in panel.context.external_resources %}
    <a href="{{ external.url }}" title="{{ external.description }}">
        <i class="icon-share"></i>
    </a>
    {% endfor %}
    {% endif %}
</div>
{% with versions=panel.context.version_info %}
<div class="pull-right">
    {% if versions.default_pool_url %}
    <a href="{{ versions.default_pool_url }}" title="pool directory"><i class="icon-folder-open"></i></a>
    {% endif %}
</div>
{% endwith %}
</div>
{% endblock %}
{% block panel-body %}
<ul class="list-group list-group-flush">
{% with versions=panel.context.version_info %}
    {% for item in versions.version_list %}
    <div class="row-fluid">
    <li class="list-group-item">
        <div class="list-item-key versions-repository"><b><span title="{{ item.repository.name }}">{{ item.repository.shorthand }}:</span></b></div>
        <div class="list-item-value">
            {% with url=item.url|default:"#" %}
            <a href="{{ url }}">{{ item.version }}</a>
            {% endwith %}
        </div>
        <div class="clear"></div>
    </li>
    </div>
    {% endfor %}
{% endwith %}

    {# Add any vendor provided versions #}
    {% for item in panel.context.vendor_versions %}
    <div class="row-fluid">
    <li class="list-group-item">
        <div class="list-item-key versions-repository">
            {% if item.repository_link %}<a href="{{ item.repository_link }}">{% endif %}
            <span title="waiting in the NEW queue for FTP master review"><b>{{ item.repository_shorthand }}:</b></span>
            {% if item.repository_link %}</a>{% endif %}
        </div>
        <div class="list-item-value">
            {% if item.version_link %}<a href="{{ item.version_link }}">{% endif %}
            <span>{{ item.version }}</span>
            {% if item.version_link %}</a> {% endif %}
        </div>
        <div class="clear"></div>
    </li>
    </div>
    {% endfor %}
</ul>
{% endblock %}
