<span class="popover-hover cursor-pointer text-primary" id="general-field" data-toggle="popover" data-placement="right" title="<a href='{{ general.url }}'>{{ general.name }}</a>" data-content='
  <p>
  <span class="font-weight-bold">version:</span> {{ general.version }} <br>
  {% if general.maintainer %}
  <span class="font-weight-bold">maintainer:</span>
    {% with mailto="mailto:"|add:general.maintainer.email %}
    {% with url=general.maintainer.developer_info_url|default:mailto %}
    <a href="{{ url }}">{{ general.maintainer.name }}</a>
    {% endwith %}{% endwith %}
    <br>
  {% endif %}

  {% if general.uploaders %}
    <span class="font-weight-bold">uploaders:</span>
    {% for uploader in general.uploaders %}
      {% with mailto="mailto:"|add:uploader.email %}
      {% with url=uploader.developer_info_url|default:mailto %}
      <br><a href="{{ url }}">{{ uploader.name }}</a>
      {% endwith %}{% endwith %}
    {% endfor %}
    <br>
  {% endif %}

  {% if general.architectures %}
    <span class="font-weight-bold">arch:</span>
    {{ general.architectures|join:", " }}
    <br>
  {% endif %}

  {% if general.standards_version %}
    <span class="font-weight-bold">std-ver:</span>
    {{ general.standards_version }}
    <br>
  {% endif %}
  </p>

  <p>
  {% with items=general.binaries|dictsort:"name"|slice:":5" %}
    <span class="font-weight-bold">Binaries ({{general.binaries|length}}):</span>
    {% for item in items %}
      <br>
      {% with url=item.url|default:"#" %}
      <a href="{{ url }}" title="{{ item.repository_name }}">{{ item.name }}</a>
      {% endwith %}
    {% endfor %}
    {% with count=general.binaries|length %}
    {% if count > 5 %}
      <br>
      <a href="{{ general.url }}"><small>More...</small></a>
    {% endif %}
    {% endwith %}
  {% endwith %}
  </p>
'>
	<a href='{{ general.url }}'>{{ general.name }}</a>
</span>
