CONFIG = {
    'mode': 'django',
    #'environment': {
    #    'PYTHONPATH': '/path/to/custom/python/packages',
    #},
    'working_dir': '/var/lib/distro-tracker/',
    'user': 'distro-tracker',
    'group': 'distro-tracker',
    'args': (
        '--bind=unix:/var/lib/distro-tracker/gunicorn.sock',
        '--workers=4',
        'distro_tracker.project.settings',
    ),
}

