{% spaceless %}
<div id="choose-keywords-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Choose keywords</h3>
  </div>
  <div class="modal-body">
        <form id="choose-keywords-form form-horizontal m-l-1">
                <div id="choose-keywords-list">
                </div>
        </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" id="cancel-choose-email" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary" id="save-keywords">Save changes</a>
  </div>
  </div>
  </div>
</div>
{% endspaceless %}
