{% spaceless %}
<nav class="navbar navbar-dark bg-inverse">
    <ul class="nav navbar-nav">
      <li class="nav-item {% if active_element == 'profile' %}active{% endif %}">
        <a class="nav-link" href="{% url 'dtracker-accounts-profile' %}">Profile</a>
      </li>
      <li class="nav-item {% if active_element == 'subscriptions' %}active{% endif %}">
        <a class="nav-link" href="{% url 'dtracker-accounts-subscriptions' %}">Subscriptions</a>
      </li>
      <li class="nav-item {% if active_element == 'change-profile' %}active{% endif %}">
        <a class="nav-link" href="{% url 'dtracker-accounts-profile-modify' %}">Personal Information</a>
      </li>
      <li class="nav-item {% if active_element == 'change-password' %}active{% endif %}">
        <a class="nav-link" href="{% url 'dtracker-accounts-profile-password-change' %}">Change Password</a>
      </li>
      <li class="nav-item {% if active_element == 'manage-emails' %}active{% endif %}">
        <a class="nav-link" href="{% url 'dtracker-accounts-manage-emails' %}">Account Emails</a>
      </li>
    </ul>
</nav>
{% endspaceless %}
