{% extends 'core/base.html' %}
{% load staticfiles %}
{% block title %}Subscriptions | {{ block.super }}{% endblock %}

{% block extra-js %}
        <script src="{% static 'accounts/js/profile.js' %}"></script>
        <script type="text/x-dtracker-url" id="unsubscribe-url">{% url 'dtracker-api-accounts-unsubscribe' %}</script>
        <script type="text/x-dtracker-url" id="unsubscribe-all-url">{% url 'dtracker-api-accounts-unsubscribe-all' %}</script>
        <script type="text/x-dtracker-url" id="all-keywords-url">{% url 'dtracker-api-keywords' %}</script>
        <script type="text/x-dtracker-url" id="update-keywords-url">{% url 'dtracker-api-accounts-profile-keywords' %}</script>
{% endblock %}

{% block content %}

{% spaceless %}
<div id="choose-keywords-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Choose keywords</h3>
  </div>
  <div class="modal-body">
        <form id="choose-keywords-form">
                <div id="choose-keywords-list">
                </div>
        </form>

  </div>
  <div class="modal-footer">
    <button class="btn" id="cancel-choose-email" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary" id="save-keywords">Save changes</a>
  </div>
</div>
{% endspaceless %}


{% include 'accounts/profile-navbar.html' with active_element='subscriptions' %}

{% if subscriptions|length != 1 %}
<div class="accordion" id="accordion-emails">
{% endif %}

{% for email, email_subscriptions in subscriptions.items %}

{% if subscriptions|length != 1 %}
{# Group the subscriptions by email, if the account has multiple emails #}
<div class="accordion-group">
<div class="accordion-heading">
<div class="accordion-toggle" data-toggle="collapse" data-target="#emails-{{ forloop.counter }}">
    <b>{{ email }}</b>
    {% if email_subscriptions.subscriptions %}
<form style="display: inline-block; margin-bottom: 0px;" action="{% url 'dtracker-api-accounts-unsubscribe-all' %}" method="POST">{% csrf_token %}
<input type="hidden" name="email" value="{{ email }}">
<input type="hidden" name="next" value="{% url 'dtracker-accounts-subscriptions' %}">
<button class='btn btn-mini btn-danger unsubscribe-all' class="btn btn-mini btn-danger" data-email="{{ email }}">Unsubscribe all</button>
</form>
    {% endif %}
    <a href="{% url 'dtracker-accounts-profile-keywords' %}?email={{ email }}">
        <button class="btn btn-mini modify-default-keywords" data-email="{{ email }}">Modify keywords</button>
    </a>
    <div class="default-keywords" style="display: none;" id="default-keywords-{{ forloop.counter }}">
        <ul>
            {% for keyword in email.default_keywords.all %}
            <li class="keyword">{{ keyword }}</li>
            {% endfor %}
        </ul>
    </div>

</div>
</div>
<div class="accordion-body collapse in" id="emails-{{ forloop.counter }}">
<div class="accordion-inner">
{% endif %}

{% if not email_subscriptions.subscriptions and not email_subscriptions.team_memberships %}
    {# This email has no subscriptions #}
    <em>No subscriptions!</em>
{% else %}

{% with email_number=forloop.counter|stringformat:"s" %}
{% with accordion_id="subscriptions-accordion-"|add:email_number %}
<div class="accordion" id="{{ accordion_id }}">

{% for subscription in email_subscriptions.subscriptions %}
{# Display each subscription in a list, with the details being hidden in a toggleable tray #}
    {% with subscription_number=forloop.counter|stringformat:"s" %}
    {% with details_id=accordion_id|add:"-details-"|add:subscription_number %}
    <div class="accordion-group subscription-group">
        <div class="accordion-heading">
        <div class="accordion-toggle" data-toggle="collapse" data-parent="#{{ accordion_id }}" data-target="#{{ details_id }}">
            <div class="row-fluid">
            <div class="span10">
            <span class='subscription-package'>
                {% if subscription.package.get_absolute_url %}
                <a href="{{ subscription.package.get_absolute_url }}">{{ subscription.package }}</a>
                {% else %}
                {{ subscription.package }}
                {% endif %}
            </span>
            <span class='subscription-package-type label'>{{ subscription.package.get_package_type_display }}</span>
            {% if not subscription.active %}
            <span><i class='icon-exclamation-sign' title='Subscription has not been confirmed'></i></span>
            {% endif %}
            </div>

            <div class="span2">
            <form style="margin-bottom: 0px;" action="{% url 'dtracker-api-accounts-unsubscribe' %}" method="POST">{% csrf_token %}
            <input type="hidden" name="package" value="{{ subscription.package }}">
            <input type="hidden" name="email" value="{{ email }}">
            <input type="hidden" name="next" value="{% url 'dtracker-accounts-subscriptions' %}">
            <button class="btn btn-danger unsubscribe-package" data-email="{{ email }}" data-package="{{ subscription.package }}">Unsubscribe</button>
            </form>
            <div class="clear"></div>
            </div>
            </div>
        </div>
        </div>

        <div class="accordion-body collapse" id="{{ details_id }}">
            <div class="accordion-inner">
            <div><b>Subscription keywords:</b></div>
            <ul class="inline">
                {% for keyword in subscription.keywords.all %}
                <li class='keyword'>{{ keyword }}</li>
                {% endfor %}
            </ul>
            <a href="{% url 'dtracker-accounts-profile-keywords' %}?package={{ subscription.package }}&email={{ email }}">
                <div class="btn btn-small modify-subscription-keywords" data-email="{{ email }}" data-package="{{ subscription.package }}">Modify</div>
            </a>
            </div>
        </div>
    </div>
    {% endwith %}{% endwith %}
{% endfor %}

{% for membership in email_subscriptions.team_memberships %}
{# Display each team that the email is a part of #}
    {% with subscription_number=forloop.counter|stringformat:"s" %}
    {% with details_id=accordion_id|add:"-team-details-"|add:subscription_number %}
    <div class="accordion-group team-group">
        <div class="accordion-heading">
        <div class="accordion-toggle" data-toggle="collapse" data-parent="#{{ accordion_id }}" data-target="#{{ details_id }}">
            <div class="row-fluid"><div class="span10">
            <span class='team-membership'>
                <a href="{{ membership.team.get_absolute_url }}">{{ membership.team }}</a>
            </span>
            <span class='label label-info'>Team</span>
            {% if membership.muted %}
            <span><i class='icon-exclamation-sign mute-warning' title='The team is muted'></i></span>
            {% endif %}
            </div>

            <div class="span2">
                {% if membership.muted %}
            <form style="margin-bottom: 0px;" action="{% url 'dtracker-team-unmute' membership.team.slug %}" method="POST">{% csrf_token %}
                {% else %}
            <form style="margin-bottom: 0px;" action="{% url 'dtracker-team-mute' membership.team.slug %}" method="POST">{% csrf_token %}
                {% endif %}
            <input type="hidden" name="email" value="{{ email }}">
            <input type="hidden" name="next" value="{% url 'dtracker-accounts-subscriptions' %}">
                {% if membership.muted %}
            <button class="btn btn-danger toggle-team-mute" data-email="{{ email }}">Unmute</button>
                {% else %}
            <button class="btn btn-danger toggle-team-mute" data-email="{{ email }}">Mute</button>
                {% endif %}
            </form>
            <div class="clear"></div>
            </div>
            </div>
        </div>
        </div>

        <div class="accordion-body collapse" id="{{ details_id }}">
            <div class="accordion-inner">
            <div><b>Team-specific keywords:</b></div>
            <ul class="inline">
                {% for keyword in membership.default_keywords.all %}
                <li class='keyword'>{{ keyword }}</li>
                {% endfor %}
            </ul>
                <div class="btn btn-small modify-membership-keywords" data-email="{{ email }}" data-href="{% url 'dtracker-team-set-keywords' membership.team.slug %}">Modify</div>
                <div><a href="{% url 'dtracker-team-manage-membership' membership.team.slug %}?email={{ email }}">Manage team package subscriptions</a></div>
            </div>
        </div>
    </div>
    {% endwith %}{% endwith %}
{% endfor %}

</div>

{% endwith %}{% endwith %}
{% endif %}

{% if subscriptions|length != 1 %}
{# Close the group of subscriptions associated with one of the emails #}
</div></div></div>
{% endif %}

{% endfor %}

{% if subscriptions|length != 1 %}
{# Close the accordion grouping emails #}
</div>
{% endif %}

<h3>Subscribe</h3>
        <form class="form-search" id="package-subscribe-form" action="{% url 'dtracker-api-accounts-subscribe' %}" method="POST">{% csrf_token %}
            <div class="row-fluid span4" style="margin-bottom: 10px;">
                <div>Emails which should be subscribed: </div>
            {% for email in request.user.emails.all %}
            <label class="checkbox inline">
              <input type="checkbox" name="email" value="{{ email }}"> {{ email }}
            </label>
            {% endfor %}
            </div>
            <div class="clear"></div>
            <div class="span4 col col-lg-4">
            <label>Enter a {{ DISTRO_TRACKER_VENDOR_NAME }} package name</label>
            </div>
            <input type="hidden" value="{% url 'dtracker-accounts-subscriptions' %}" name="next">
            <input type="text" name="package" id='package-search-input' placeholder="Choose package...">
            <button type="submit" class="btn">Subscribe</button>

        </form>

{% endblock %}
