#!/usr/bin/make -f

%:
	dh $@ --with python2,sphinxdoc

override_dh_auto_build:
	dh_auto_build
	$(MAKE) -C docs html

override_dh_auto_install:
	dh_auto_install
	install -m 755 -D manage.py debian/package-tracking-system/usr/bin/pts-manage
	for file in `find debian/tmp/ -name selected.py`; do \
	    rm $$file && ln -sf production.py $$file; \
	done
