{% extends 'core/panels/panel.html' %}
{% block panel-header %}
{{ panel.title }}
{% endblock %}

{% block panel-body %}
{% with context=panel.context %}
<ul class="list-group list-group-flush">
    {% if context.name %}
    <li class="list-group-item">
        <div class="list-item-key"><b>source:</b></div>
        <div class="list-item-value">
            {% with url=context.url|default:"#" %}
            <a href="{{ url }}">{{ context.name }}</a>
            {% endwith %}
            {% if context.priority %}
            <span>(<a href="#" data-toggle="tooltip" title="priority" class="has-tooltip">{{ context.priority }}</a>, <a href="#" data-toggle="tooltip" title="section" class="has-tooltip">{{ context.section }}</a>)</span>
            {% endif %}
        </div>
        <div class="clear"></div>
    </li>
    {% endif %}

    {% if context.version %}
    <li class="list-group-item">
        <div class="list-item-key"><b>version:</b></div>
        <div class="list-item-value">{{ context.version }}</div>
        <div class="clear"></div>
    </li>
    {% endif %}

    {% if context.maintainer %}
    <li class="list-group-item">
        <div class="list-item-key"><b>maintainer:</b></div>
        <div class="list-item-value">
            {% with mailto="mailto:"|add:context.maintainer.email %}
            {% with url=context.maintainer.developer_info_url|default:mailto %}
            <a href="{{ url }}">{{ context.maintainer.name }}</a>
            {% endwith %}{% endwith %}
            {% with developer=context.maintainer %}
                {% if developer.archive_url %}
                    <small>
                        (<a href="{{ developer.archive_url }}" class="has-tooltip" data-toggle="tooltip" title="Archives for the {{ developer.name }} list">archive</a>)
                    </small>
                {% endif %}
                {% for extra in developer.extra %}
                    <small>
                    [<a href="{{ extra.link }}" class="has-tooltip" data-toggle="tooltip" title="{{ extra.description }}">{{ extra.display }}</a>]
                    </small>
                {% endfor %}
            {% endwith %}
        </div>
        <div class="clear"></div>
    </li>
    {% endif %}

    {% if context.uploaders %}
    <li class="list-group-item">
        <div class="list-item-key"><b>uploaders:</b></div>
        <div class="list-item-value">
        <ul>
            {% for uploader in context.uploaders %}
            <li>
                {% with mailto="mailto:"|add:uploader.email %}
                {% with url=uploader.developer_info_url|default:mailto %}
                <a href="{{ url }}">{{ uploader.name }}</a>
                {% endwith %}{% endwith %}
                {% with developer=uploader %}
                {% if developer.archive_url %}
                    <small>
                        (<a href="{{ developer.archive_url }}" class="has-tooltip" data-toggle="tooltip" title="Archives for the {{ developer.name }} list">archive</a>)
                    </small>
                {% endif %}
                {% for extra in developer.extra %}
                    <small>
                    [<a href="{{ extra.link }}" class="has-tooltip" data-toggle="tooltip" title="{{ extra.description }}">{{ extra.display }}</a>]
                    </small>
                {% endfor %}
                {% endwith %}
            </li>
            {% endfor %}
        </ul>
        </div>
        <div class="clear"></div>
    </li>
    {% endif %}

    {% if context.architectures %}
    <li class="list-group-item">
        <div class="list-item-key"><b>arch:</b></div>
        <div class="list-item-value">{% for arch in context.architectures %}{{ arch }} {% endfor %}</div>
        <div class="clear"></div>
    </li>
    {% endif %}

    {% if context.standards_version %}
    <li class="list-group-item">
        <div class="list-item-key"><b>std-ver:</b></div>
        <div class="list-item-value">{{ context.standards_version }}</div>
        <div class="clear"></div>
    </li>
    {% endif %}

    {% if context.vcs %}
    <li class="list-group-item">
        <div class="list-item-key"><b>VCS:</b></div>
        <div class="list-item-value">
            {% with vcs=context.vcs.full_name|default:context.vcs.type %}
            <a href="{{ context.vcs.url }}">{{ vcs }}</a> (<a href="{{ context.vcs.browser }}">Browse</a>)
            {% endwith %}
        </div>
        <div class="clear"></div>
    </li>
    {% endif %}
</ul>
{% endwith %}
{% endblock %}
