{% extends 'core/panels/panel.html' %}
{% block panel-header %}
{{ panel.title }}
{% endblock %}

{% block panel-body %}
{% with context=panel.context %}
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <div class="list-item-key"><b>source:</b></div>
        <div class="list-item-value">
            {% with url=context.url|default:"#" %}
            <a href="{{ url }}">{{ context.name }}</a> (<a href="#" data-toggle="tooltip" title="priority" class="has-tooltip">{{ context.priority }}</a>, <a href="#" data-toggle="tooltip" title="section" class="has-tooltip">{{ context.section }}</a>)
            {% endwith %}
        </div>
        <div class="clear"></div>
    </li>
    <li class="list-group-item">
        <div class="list-item-key"><b>version:</b></div>
        <div class="list-item-value">{{ context.version }}</div>
        <div class="clear"></div>
    </li>
    <li class="list-group-item">
        <div class="list-item-key"><b>maintainer:</b></div>
        <div class="list-item-value">
            <a href="mailto:{{ context.maintainer.email }}">{{ context.maintainer.name }}</a>
        </div>
        <div class="clear"></div>
    </li>
    <li class="list-group-item">
        <div class="list-item-key"><b>uploaders:</b></div>
        <div class="list-item-value">
        <ul>
            {% for uploader in context.uploaders %}
            <li><a href="mailto:{{ uploader.email }}">{{ uploader.name }}</a></li>
            {% endfor %}
        </ul>
        </div>
        <div class="clear"></div>
    </li>
    <li class="list-group-item">
        <div class="list-item-key"><b>arch:</b></div>
        <div class="list-item-value">{% for arch in context.architectures %}{{ arch }} {% endfor %}</div>
        <div class="clear"></div>
    </li>
    <li class="list-group-item">
        <div class="list-item-key"><b>std-ver:</b></div>
        <div class="list-item-value">{{ context.standards_version }}</div>
        <div class="clear"></div>
    </li>
    <li class="list-group-item">
        <div class="list-item-key"><b>VCS:</b></div>
        <div class="list-item-value">
            {% with vcs=context.vcs.full_name|default:context.vcs.type %}
            <a href="{{ context.vcs.url }}">{{ vcs }}</a> (<a href="{{ context.vcs.browser }}">Browse</a>)
            {% endwith %}
        </div>
        <div class="clear"></div>
    </li>
</ul>
{% endwith %}
{% endblock %}
