{% extends 'core/panels/panel.html' %}

{% block panel-header %}
<div class="row-fluid">
<div class="pull-left">
    <span>{{ panel.title }}</span>
    {% if panel.context.external_resources %}
    {% for external in panel.context.external_resources %}
    <a href="{{ external.url }}" class="has-tooltip" data-toggle="tooltip" title="{{ external.description }}">
        <i class="icon-share"></i>
    </a>
    {% endfor %}
    {% endif %}
</div>
<div class="pull-right">
    {% if panel.context.default_pool_url %}
    <a href="{{ panel.context.default_pool_url }}" class="has-tooltip" data-toggle="tooltip" title="pool directory"><i class="icon-folder-open"></i></a>
    {% endif %}
</div>
</div>
{% endblock %}
{% block panel-body %}
<ul class="list-group list-group-flush">
    {% for item in panel.context.version_list %}
    <div class="row-fluid">
    <li class="list-group-item">
        <div class="list-item-key versions-repository"><b><span class="has-tooltip" data-title="{{ item.repository_name }}" data-toggle="tooltip">{{ item.repository_shorthand }}:</span></b></div>
        <div class="list-item-value">
            {% with url=item.url|default:"#" %}
            <a href="{{ url }}">{{ item.version }}</a>
            {% endwith %}
        </div>
        <div class="pull-right"><a href="{{ item.dsc_file_url }}" class="has-tooltip" data-toggle="tooltip" title=".dsc, use dget on this link to retrieve source package"><i class="icon-download-alt"></i></a></div>
        <div class="clear"></div>
    </li>
    </div>
    {% endfor %}
</ul>
{% endblock %}
