{% with lastsv=item.extra_data.lastsv %}
{% with standards_version=item.extra_data.standards_version %}
{% if item.extra_data.severily_outdated %}
<span>The package is severely out of date with respect to the Debian Policy.</span>
{% endif %}
<span>The package should be updated to follow the last version of <a href="http://www.debian.org/doc/debian-policy/">Debian Policy</a>
(Standards-Version <a href="http://www.debian.org/doc/debian-policy/upgrading-checklist.html#s-{{ lastsv }}.0">{{ lastsv }}</a> instead of
<a href="http://www.debian.org/doc/debian-policy/upgrading-checklist.html#s-{{ standards_version }}.0">{{ standards_version }}</a>).
</span>
{% endwith %}
{% endwith %}