{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{{ DISTRO_TRACKER_VENDOR_NAME }} Package Tracker{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'css/octicons.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen">
        <link type="application/opensearchdescription+xml" title="{{ DISTRO_TRACKER_VENDOR_NAME }} Package Tracker Search" rel="search" href="{% url 'dtracker-opensearch-description' %}"/>
        {% include 'core/extra-head.html' %}
        {% block extra-head %}{% endblock %}
        {% block extra-css %}{% endblock %}
    </head>
    <body>
        {% block page-header %}
        <header class="page-header">
            <div class="container-fluid">
                {% block page-header-content %}
		<div class="row">
		<div class="col-xs-12 text-xs-center">
		    <div class="pull-xs-left">{% include 'core/logo.html' %}</div>
		    <div class="pull-xs-right">
		    {% block page-header-right %}
		    {% include 'accounts/user-widget.html' %}
		    {% endblock %}
		    </div>
		    {% block page-header-title %}
		    <h1>{{ DISTRO_TRACKER_VENDOR_NAME }} Package Tracker</h1>
		    {% endblock %}
		</div>
		</div>
                {% endblock %}
            </div>
        </header>
        {% endblock %}

	{% block page-content %}
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
	{% endblock %}

        <hr>
        <footer id="footer">
            <div class="container-fluid">
                <div class="text-xs-center">
                    {% block footer %}
                    {% include 'core/footer.html' %}
                    {% endblock %}
                </div>
            </div>
        </footer>

        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/jquery.cookie.js' %}"></script>
        <script src="{% static 'js/tether.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/typeahead.bundle.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        {% block extra-js %}{% endblock %}
    </body>
</html>
