{% extends 'core/base.html' %}

{% block content %}
<h1 class="text-xs-center">{{ news.title }}</h1>
<div class="row">
    <h4 class="text-xs-center">News for package <a href="{% url 'dtracker-package-page' news.package %}">{{ news.package }}</a></h4>
</div>
<div class="row">
    {% if news_renderer.template_name %}
    {% include news_renderer.template_name with ctx=news_renderer.context %}
    {% else %}
        {% if news_renderer.html_output %}
        {{ news_renderer.html_output }}
        {% endif %}
    {% endif %}
</div>
{% endblock %}
