<ul class="email-news-headers">
{% for header, header_value in ctx.headers.items %}
<li><b>{{ header }}</b>: 
    {% if header_value.emails %}
        {% for email in header_value.emails %}
            {% if forloop.counter0 %},{% endif %}
            <a href="mailto:{{ email.email }}" target="_blank">{{ email.name }} &lt;{{ email.email }}&gt;</a>
        {% endfor %}
    {% else %}
        {{ header_value.value }}
    {% endif %}
</li>
{% endfor %}
{% for signer in ctx.signed_by %}
<li><b>Signed by</b>: <a href="mailto:{{ signer.email }}" target="_blank">{{ signer.name }} &lt;{{ signer.email }}&gt;</a></li>
{% endfor %}
</ul>

<div class="email-news-body">
<pre>{% for part in ctx.parts %}{{ part }}{% endfor %}</pre>
</div>
