{% extends "core/team.html" %}
{% load staticfiles %}
{% with team=object %}

{% block content %}
<div class="text-center">
<h3>
    <span>Are you sure you want to remove </span>
    {% if package.get_absolute_url %}
    <a href="{{ package.get_absolute_url }}">{{ package }}</a>
    {% else %}
    <span>{{ package }}</span>
    {% endif %}
    <span>from <a href="{{ team.get_absolute_url }}">{{ team }}</a>?
</h3>
<form action="{% url 'dtracker-team-remove-package' team.slug %}" method="POST" id="confirm-team-delete-form">{% csrf_token %}
    <input type="hidden" name="package" value="{{ package }}">
    <a href="{{ team.get_absolute_url }}"><button type="button" class="btn">Cancel</button></a>
    <button class="btn btn-danger">Remove!</button>
</form>
</div>
{% endblock %}

{% endwith %}