{% extends 'core/base.html' %}

{% block content %}
<form id="create-team-form" class="form-horizontal" action="{% url 'pts-teams-create' %}" method="POST">{% csrf_token %}
{% if form.errors %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-error">
    {{ error }}
    </div>
    {% endfor %}
{% endif %}
<fieldset>
    {% for field in form %}
    {% if field.errors %}
    <div class="control-group error">
    {% elif form.errors %}
    <div class="control-group success">
    {% else %}
    <div class="control-group">
    {% endif %}
        <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
        <div class="controls">
            {{ field }}
        {% if field.errors %}
            {% for error in field.errors %}
            <span class="help-inline">{{ error }}</span>
            {% endfor %}
            {% else %}
            {% if field.help_text %}
            <span class="help-inline">{{ field.help_text }}</span>
            {% endif %}
        {% endif %}
        </div>
    </div>
    {% endfor %}
</fieldset>
<div class="control-group"><div class="controls">
<button type="submit" class="btn">Create</button>
</div></div>
</form>
{% endblock %}